<div con>

</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"><strong>Rent A Car</strong></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/cars" href="#"><strong>Araçlar</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/customers" href="#"
            ><strong>Müşteriler</strong></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/rentals" href="#"
            ><strong>Kiralamalar</strong></a
          >

        </li>
      </ul>

      <form class="d-flex">
        <div class="shadow p-0 m-2  bg-body rounded">
          <button type="button" routerLink="/register"class="btn btn-success">Register</button></div>

      </form>

      <form class="d-flex">
        <div class="shadow p-0 m-2 bg-body rounded">
          <button type="button"routerLink="/login" class="btn btn-success">Login</button></div>

      </form>
    </div>
  </div>
</nav>
