
<div class="">
<button [class]="getAllBrandClass()" style="text-align:center; width: 250px;" routerLink="/cars">Tüm Markalar</button>
</div>
<div class="mb-3 mt-1" >
  <input type="text" [(ngModel)]="filterText1" class="form-control" id="filterText1" placeholder="Marka giriniz">
</div>

<ul class="list-group">
  <button (click)="setCurrentBrand(brand)"
  routerLink = "/cars/brand/{{brand.brandId}}"
  *ngFor="let brand of brands | brandFilter : filterText1"
  [class]="getCurrentBrandClass(brand)" style="text-align:left;">
  {{brand.brandName | uppercase}}</button>


  <button type="button" class="btn btn-success"routerLink = "/cars/brandadd"  ><strong>Marka Ekle</strong> </button>

</ul>
