<h3 style="font-weight: 700; color:darkcyan">Rentals</h3>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Müşteri Adı</th>
        <th>CompanyName</th>
        <th>BrandName</th>
        <th>RentDate</th>
        <th>ReturnDate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals" >
        <td>{{rental.carId}}</td>
        <td>{{rental.customerName}}</td>
        <td>{{rental.companyName}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.rentDate | date:'dd-MM-YYYY'}}</td>
        <td>{{(rental.returnDate == null)? "Not yet delivered!": rental.returnDate | date:'dd-MM-YYYY'}}</td>
      </tr>
    </tbody>
  </table>
