<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-brand></app-brand>
      <app-color></app-color>
    </div>
    <div class="col-md-9">

    <div class="container">
      <div class="row">
    <div class="col-md-3 mt-3">
      <div class="form-floating">
        <input type="text"[(ngModel)]="filterText" class="form-control"
         id="filterText" placeholder="aramak istediğiniz ifadeyi giriniz">
         <label for="floatingInputGrid">İfade Giriniz</label>
         <div style="position: relative; margin-right: 200">
          <button
            routerLink="/cars"
            type="button"
            class="btn btn-outline-primary m-1"
            style="text-align: center; width: 165px;"
          >
            Görünüm
          </button>
          <button type="button" class="btn btn-outline-success m-1"
          style="text-align: center; width: 165px;"
          routerLink="/cars/addcar">Araç Ekle</button>
        </div>
      </div>
    </div>
    <div class="col-md-9 mt-3">
      <app-car-filter></app-car-filter>
    </div>
  </div>
</div>
<div class="row">

  <div *ngFor="let car of cars" class="card" style="width: 16rem ;">
  <div *ngFor="let image of images">
    <img  *ngIf="car.carId==image.carId"
    [src]="imageUrl+image.imagePath"
    class="aw-zoom"
    style="height: 100%; width: 100%; object-fit: contain"
    [alt]="imageUrl+image.imagePath"/>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{car.description}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <strong> Id </strong>    : {{car.carId}}</li>
    <li class="list-group-item"><strong> Marka</strong>  : {{car.brandName}}</li>
    <li class="list-group-item"><strong>Renk  </strong> : {{car.colorName}}</li>
    <li class="list-group-item"><strong>Model </strong> : {{car.modelYear}}</li>
    <li class="list-group-item"><strong>Günlük Kira </strong> : {{car.dailyPrice}}</li>
  </ul>
  <div class="card-body" >

    <a href="#" routerLink = "/cars/cardetails2/{{car.carId}}"
     class="card-link btn btn-primary">İncele</a>
  </div>


</div>
</div>
</div>
</div>
</div>

