<h3 style="font-weight: 700; color:darkcyan">Cars</h3>
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded!=false" class="table table-bordered">
  <thead>
  <tr>
  <th>ID</th>
  <th>BRAND</th>
  <th>COLOR</th>
  <th>MODEL YEAR</th>
  <th>DAİLY PRİCE</th>
  <th>DESCRİPTİON</th>
</tr>
</thead>
<tbody>
  <tr *ngFor="let car of cars">
    <th scope="row">{{ car.carId }}</th>
    <td>{{ car.brandName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice }}</td>
    <td>{{ car.description }}</td>
  </tr>
</tbody>
</table>

