<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div>

  <div class="row mt-3" *ngIf="dataLoaded==true">
    <div *ngFor="let car of cars" class="card m-1" style="width: 17rem;">
      <img src="{{imageBasePath}}{{car.imagePath}}"
       class="card-img-top mt-1" alt="{{car.description}} Image" width="auto" height="auto">
      <div  class="card-body">
        <h5 class="card-title">{{car.brandName}} {{car.description}} {{car.modelYear}}</h5>
      </div >
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Marka: {{car.brandName}}</li>
        <li class="list-group-item">Renk: {{car.colorName}}</li>
        <li class="list-group-item">Model Yılı: {{car.modelYear}}</li>
        <li class="list-group-item">Fiyat: {{car.dailyPrice}} </li>
      </ul>
      <div class="card-body">
        <section style="float:left">
          <button routerLink="/cars/details/{{car.carId}}" type="button" class="btn btn-primary">Detaylar</button>
        </section>
        <section style="float: right">
          <button type="button" class="btn btn-primary">Kirala</button>
        </section>
      </div>
    </div>
  </div>
</div>
